h1{
  color: #ffffff;
}
body{
  background-color: blue;
  color : yellow;
  font-family: cursive;
}
h3{
  background-color: rgb(255,0,0);
}
a{
  color: pink;
  text-decoration: none;
  font-size: 30px;
}
a:hover{
  background: purple;
}
a:visited{
  color: green;
}
list{
  color: green;
}
ul li{
  color: orange;
}
ul li{
  list-style: none;
}
h3 em{
  font-weight: bold;
  color: orange;
}

#name{
color: gray;
}
